
/* top players style  */
body{
    font-family: 'Poppins', sans-serif;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    background-color: #FFFFFF;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    background-color: #FFFFFF;
    width: 870px;
}
.top-players{
    margin-bottom: 30px;
}
.section-title{
    color: #562EFF;
    font-size: 30px;
    margin-top: 3px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 30px;
}
hr{
    border: 1px solid #D1D1D1;
}
.player{
    display: flex;
    align-items: center;
}
.player img{
    width: 56px;
    height: 56px;
}
.player-name{
    margin-left: 16px;
    font-size: 18px;
}
/* -----------
top blog styles 
--------------*/
.courses{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 40px;
}
.blogs{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.blog{
    display: flex;
}
.blog .thumbnail img{
    width: 177px;
    height: 117px;
}
.blog-info{
    margin-left: 16px;
}
.blog-title{
    font-size: 20px;
}
.blog-author{
    color:gray;
    font-size: 18px;
}
.blog-author a{
    text-decoration: none;
    color: #562EFF;
    font-size: 18px;
    font-weight: 900;
}

/* ------------- 
  courses styles 
  -------------- */
  .latest-courses{
      margin-top: 50px;
  }
.course .course-banner img{
      width: 266px;
      height: 141px;
}
.course-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.fa-star{
    font-size: 12px;
}
.fa-solid.fa-star.filled{
    color: #FFC014;
}
.fa-solid.fa-star.empty{
    color:#AEAEAE;
}
.course-duration{
    color: #FF4A60;
    font-size: 18px;
}

/* ------------
 media queries 
 --------------*/

/*mobile devices*/
@media only screen and (max-width:688px){
    .container{
        width: 100%;
    }
    .players,.blogs,.courses{
        grid-template-columns: repeat(1,1fr);
        align-items: center;
    }
    .player,.blog{
        flex-direction: column;
    }
}

/* tablet devices */
@media only screen and (min-width:688px) and (max-width:992px) {
    .container{
        width: 100%;
    }
    .players,.courses{
        grid-template-columns: repeat(2,1fr);
    }
    .blogs{
        grid-template-columns: repeat(1,1fr);
    }
}